In [1]:
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [2]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [3]:
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [4]:
money = 10

if money > 100:
    item = "apple"
else:
    item = "banana"
    
print(item)

banana

In [6]:
score = int(input(('input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score <70:
    grade = "D"
else:
    grade = "F"
    
print("점수 통보! 등급 = " + grade)

input Score: 99
점수 통보! 등급 = A

In [9]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.
Math = int(input(('input Math score: ')))
English = int(input(('input English score: ')))
History = int(input(('input History score: ')))

avg = (Math + English + History)/3
print("평균 : " + str(avg))

if avg < 60:
    grade = 'fail'
elif Math < 50:
    grade = 'fail'
elif English < 50:
    grade = 'fail'
elif History < 50:
    grade = 'fail'
else: 
    grade = 'success'

print(grade)

input Math score: 20
input English score: 30
input History score: 40
평균 : 30.0
fail

In [10]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [11]:
lists = ['Apple',  100, 15.33]

for i in list:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [12]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numList:
    if i > 5:
        break
    print("Item: {0}".format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [13]:
for i in numList:
    if i % 2 == 0:
        continue
    print("Item: {0}".format(i))

Item: 1
Item: 3
Item: 5
Item: 7
Item: 9

In [1]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [3]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
print(list(range(10,20,2)))

[10, 12, 14, 16, 18]

In [5]:
numList = list(range(1,11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
strList = ["Apple", 'Orange', 'Grape', 'Banana']

for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i, strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [8]:
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')