In [5]:
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [6]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [7]:
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [8]:
money = 10

if money > 100:
    item = "apple"
else:
    item = "banana"
    
print(item)

banana

In [9]:
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = "F"
    
print('점수 통보! 등급 =' + grade)

Input Score: 99
점수 통보! 등급 =A

In [26]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 이하이며
# 또한 각각의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

mathScore = int(input(('Input mathScore: ')))

if 50 <= mathScore <= 100:
    grade = '합격'
else:
    grade = "탈락!!!"
    
print('수학 점수! =' + grade)

englishScore = int(input(('Input englishScore: ')))

if 50 <= englishScore <= 100:
    grade = '합격'
else:
    grade = "탈락!!!"
    
print('영어 점수! =' + grade)

historyScore = int(input(('Input historyScore: ')))

if 50 <= historyScore <= 100:
    grade = '합격'
else:
    grade = "탈락!!!"
    
print('역사 점수! =' + grade)

    
totalScore = (historyScore + englishScore + mathScore) / 3

if mathScore <= 50:
    result = '탈락입니다!'
elif englishScore <= 50:
    result = '탈락입니다!'
elif historyScore <= 50:
    result = '탈락입니다!'
elif 60 <= totalScore <= 100:
    result = '합격'
else:
    result = "탈락!!!"
    
print(result)

Input mathScore: 50
수학 점수! =합격
Input englishScore: 80
영어 점수! =합격
Input historyScore: 80
역사 점수! =합격
탈락입니다!

In [31]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 이하이며
# 또한 각각의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

mathScore = int(input(('수학 점수: ')))

englishScore = int(input(('영어 점수: ')))

historyScore = int(input(('역사 점수: ')))
    
totalScore = (historyScore + englishScore + mathScore) / 3

if (mathScore >= 50 and englishScore >= 50 and historyScore>=50 and totalScore >=60):
    print("합격")
else:
    print("불합격")
    
print("totalScore:", totalScore)

Input mathScore: 61
Input englishScore: 59
Input historyScore: 60
합격
totalScore: 60.0

In [28]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [4]:
lists = ['Apple', 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [5]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}". format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [6]:
for i in numList:
    if i % 2 == 0:
        continue
    print("item: {0}". format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [7]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [9]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [11]:
numList = list(range(1, 11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
strList = ["Apple", 'Orange', 'Grape', 'Banana']

for i in range(len(strList)):
    print("idx: {0}, val:{1}".format(i, strList[i]))

idx: 0, val:Apple
idx: 1, val:Orange
idx: 2, val:Grape
idx: 3, val:Banana

In [13]:
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [20]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>