In [1]:
val = 10
if val > 5:
    print("val bigger tan 5")

val bigger tan 5

In [2]:
val = 1

if val > 5:
    print("test")

print("val bigger tan 5")

val bigger tan 5

In [3]:
money = 10

if money > 100:
    item = "apple"
else :
    item = "banana"
    
print(item)

banana

In [4]:
score = int(input(('input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score <= 90:
    grade = 'B'
elif 70 <= score <= 80:
    grade = 'C'
elif 60 <= score <= 70:
    grade = 'D'
else:
    grade = "F"
print("점수 통보! 등급 = " + grade)

input Score: 67
점수 통보! 등급 = D

In [5]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 이하이며
#또한 각가의 점수들이 50점 미만인 경우에도 탈락 처리

math = int(input(('Math Score: ')))
english = int(input(('English Score: ')))
history = int(input(('History Score: ')))

avg = (math+english+history)/3

if avg <= 60:
    print("너는 탈락이다 다시공부해")
elif math < 50:
    print("수학 점수 미달! 탈락이다")
elif english < 50:
    print("영어 점수 미달! 탈락이다")
elif history < 50:
    print("국사 점수 미달! 탈락이다")
else:
    print("합격이다")

Math Score: 67
English Score: 70
History Score: 44
국사 점수 미달! 탈락이다

In [6]:
val = 5
while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [7]:
lists = ['Apple', 100, 15.33]
for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [8]:
numList = [1,2,3,4,5,6,7,8,9,10]

for i in numList:
    if i>5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [9]:
for i in numList:
    if i % 2 == 0:
        continue
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [10]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [12]:
print(list(range(10,20,2)))

[10, 12, 14, 16, 18]

In [13]:
numList = list(range(1,11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
strList = ['Apple','Orange', ' Grape', 'Banana']
for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i, strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val:  Grape
idx: 3, val: Banana

In [16]:
varList = [100, 33.7, "Grage"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grage')

In [20]:
numList1 = [3,4,5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>