# val = 10

if val > 5:
    print("val is bigger than 5")

In [2]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [3]:
val = 1

if val > 5:
    print('test')
print("val is bigger than 5")  # 이상한코드 예제 이렇게만 하지말자

val is bigger than 5

In [4]:
money = 10

if money > 100:
    item = "apple"
else:
    item = 'banana'
    
print(item)

banana

In [7]:
score = int(input(('Input score:')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score <= 90:
    grade = 'B'
elif 70 <= score <= 80:
    grade = 'C'
elif 60 <= score <= 70:
    grade = "D"
else: 
    grade = "F"
print("점수 통보! 등급 = " + grade)

Input score:75
점수 통보! 등급 = C

In [8]:
#수학, 영어, 국사 시험을 봤다 
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

In [27]:
MathScore = int(input(('Input Mathscore = ')))
EnglishScore = int(input(('Input EnglishScore = ')))
historyScore = int(input(('Input historyScore =')))

totalScoreAverage  = (MathScore + EnglishScore +historyScore) / 3

if totalScoreAverage < 60:
    print('당신은탈락입니다.')
elif MathScore <50:
    print('당신은 수학점수과락으로 탈락입니다.')
elif EnglishScore <50:
    print('당신은 영어점수과락으로 탈락입니다')
elif historyScore <50:
    print('당신은 역사점수과락으로 탈락입니다')
else:
    print('당신은 합격입니다.')

Input Mathscore = 100
Input EnglishScore = 100
Input historyScore =40
당신은 역사점수과락으로 탈락입니다

In [28]:
val = 5 
while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [43]:
lists = ['Apple', 100, 15.33]

for i in lists: 
    print(i,type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [33]:
numList = [1,2,3,4,5,6,7,8,9,10]

for i in numList:
    if i>5:
        break
    print("Item:{0}".format(i))

Item:1
Item:2
Item:3
Item:4
Item:5

In [42]:
for i in numList:
    if i % 2 == 0:
        continue
    print("Item: {0}".format(i))

Item: 1
Item: 3
Item: 5
Item: 7
Item: 9

In [1]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [4]:
print(list(range(10,20,2)))

[10, 12, 14, 16, 18]

In [5]:
numList = list(range(1,11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
strList = ["Apple", "Orange", "Grape", "Banana"]

for i in range(len(strList)):
    print("idx: {0}, val:{1}".format(i,strList[i]))

idx: 0, val:Apple
idx: 1, val:Orange
idx: 2, val:Grape
idx: 3, val:Banana

In [7]:
varList = [100,33,7,"Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33)
(2, 7)
(3, 'Grape')

In [1]:
numList1 = [3,4,5]
numList2 = [1.5,-0.5,4]


resLists = [x * y for x in numList1 for y in numList2 ]

print(resLists)
print(type(resLists))

print()

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>