In [3]:
val = int(input('input val: '))

if val > 5:
    print('val is bigger than 5')
else:
    print('val is smaller than 5')

input val: 3
val is smaller than 5

In [6]:
money = int(input('input money: '))

if money > 100:
    whole_lotta_money = 'true'
else:
    whole_lotta_money = 'false'
    
print(whole_lotta_money)

input money: 40
false

In [10]:
score = int(input('input Score: '))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'c'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'
    
print(grade)

input Score: 91
A

In [11]:
math_score = int(input('input Math Score: '))

eng_score = int(input('input Eng Score: '))

his_score = int(input('input His Score: '))

totalAv = (math_score + eng_score + his_score) / 3

print('totalAv: ', totalAv)

if totalAv < 60:
    print('평균 미달 탈락')
elif math_score < 50:
    print('수학 과락')
elif eng_score < 50:
    print('영어 과락')
elif his_score < 50:
    print('역사 과락')
else:
    print('합격')

input Math Score: 60
input Eng Score: 54
input His Score: 71
totalAv:  61.666666666666664
합격

In [17]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [20]:
tmp_list = ['apple', 100, 14.55]

for i in tmp_list:
    print(i, type(i))

apple <class 'str'>
100 <class 'int'>
14.55 <class 'float'>

In [21]:
numList = [1, 2, 3, 4, 5, 6 , 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}".format(i)) # {0}에 format(i)의 값이 들어간다!

item: 1
item: 2
item: 3
item: 4
item: 5

In [22]:
for i in numList:
    if i % 2 == 0:
        continue
    print("Odd Number: {0}".format(i))

Odd Number: 1
Odd Number: 3
Odd Number: 5
Odd Number: 7
Odd Number: 9

In [25]:
range_num = range(10)

print(range_num)

range_list = list(range_num) #list가 앞에 붙으면 사이에 모든 요소가 같이 출력된다.

print(range_list)

print(list(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
print(list(range(4, 14)))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [27]:
print(list(range(10, 30, 5))) #세번째 숫자는 간격

[10, 15, 20, 25]

In [28]:
print(list(range(30, 10, -3)))

[30, 27, 24, 21, 18, 15, 12]

In [29]:
tmpList = list(range(3, 10))
print('tmpList:', tmpList)

tmpList: [3, 4, 5, 6, 7, 8, 9]

In [35]:
strList = ['water', 'fire', 'air', 'earth']

for i in range(len(strList)):
    print("idx: {0}, str: {1}".format(i, strList[i]))

idx: 0, str: water
idx: 1, str: fire
idx: 2, str: air
idx: 3, str: earth

In [38]:
varList = ['GGG', 100, 34.5]

for i in enumerate(varList): #enumerate --> '열거하다'라는 뜻
    print(i)

(0, 'GGG')
(1, 100)
(2, 34.5)

In [43]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resList = [x * y for x in numList1 for y in numList2] #2중 for문과 같다!

print(resList, ', and the type of resList is: ', type(resList))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20] , and the type of resList is:  <class 'list'>