In [1]:
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [2]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [3]:
val = 1

if val > 5:
    print("test")

print("val is bigger than 5")

val is bigger than 5

In [4]:
money = 10

if money > 100:
    item = "apple"
else:
    item = "banana"
    
print(item)

banana

In [5]:
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = "F"
    
print("점수 통보! 등급 = " + grade)

Input Score: 77
점수 통보! 등급 = C

In [6]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.

math = int(input(('수학 점수: ')))
english = int(input(('영어 점수: ')))
history = int(input(('국사 점수: ')))

mean = (math + english + history) / 3

if (math >= 50 and english >= 50 and history >= 50 and mean >= 60):
    print("합격")
else:
    print("불합격")
    
print("mean: ", mean)

수학 점수: 67
영어 점수: 70
국사 점수: 44
불합격
mean:  60.333333333333336

In [7]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [8]:
lists = ['Apple', 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [9]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("Item: {0}".format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [10]:
for i in numList:
    if i % 2 == 0:
        continue
    print("Item: {0}".format(i))

Item: 1
Item: 3
Item: 5
Item: 7
Item: 9

In [11]:
#range_num = range(10)
#range_list = list(range_num)
#print(range_list)

print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [13]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [16]:
numList = list(range(1, 11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
strList = ["Apple", 'Orange', 'Grape', 'Banana']

for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i, strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [18]:
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [20]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>