In [1]:
val = 10
if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [2]:
val = 1
if val > 5:
    print("val is bigger than 5")

In [3]:
val = 1
if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [4]:
money = 10
if money > 100:
    item = "apple"
else:
    item = "banana"
    
print(item)

banana

In [8]:
score = int(input(('input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'
    
print("점수 통보! 등급 = " + grade)

input Score: 85
점수 통보! 등급 = B

In [9]:
# 수학, 영어, 국사 시험을 봤다
# 각각의 점수를 입력하여  토탈 평균이 60점 이하이며
# 또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다

math = int(input(('math: ')))
english = int(input(('english: ')))
history = int(input(('history: ')))
average = (math + english + history) / 3

if average <= 60:
    result = '탈락'
elif math < 50:
    result = '탈락'
elif english < 50:
    result = '탈락'
elif history < 50:
    result = '탈락'
else:
    result = '합격'

print("시험 결과는 : " + result)

math: 60
english: 45
history: 50
시험 결과는 : 탈락

In [10]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [11]:
lists = ['Apple', 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [12]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [13]:
for i in numList:
    if i % 2 == 0:
        continue
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [14]:
# range 10개
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# range 시작값을 조절
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [16]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
# 10~ 20까지 2씩 증가함
print(list(range(10,20,2)))

[10, 12, 14, 16, 18]

In [18]:
numList = list(range(1,11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
strList = ["Apple", "Orange", "Grape", "Banana"]

for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i, strList[i]))

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [20]:
# enumerate
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [22]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

# 곱한 다음에 list
# print([x * y for x in numList1 for y in numList2])

print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>