In [2]:
import pandas as pd

In [8]:
data = pd.read_csv("Data_example.csv")

print(data)

  Signal Name Direction      Target  Signal Value
0   VehSpeed1        Tx  Component1          10.4
1   VehSpeed2        Tx  Component1          10.3
2   VehSpeed3        Rx  Component1          12.0
3   VehSpeed4        Tx  Component1          13.1
4   VehSpeed5        Tx  Component2           9.4
5   VehSpeed6        Tx  Component2           8.4
6   VehSpeed7        Rx  Component2           3.9
7   VehSpeed8        Tx  Component2           7.1
8   VehSpeed9        Tx  Component2           7.5
9  VehSpeed10        Tx  Component2           4.3

In [9]:
selected_data = pd.DataFrame(data, columns = ['Signal Name', 'Signal Value', 'Target'])

print(selected_data)

  Signal Name  Signal Value      Target
0   VehSpeed1          10.4  Component1
1   VehSpeed2          10.3  Component1
2   VehSpeed3          12.0  Component1
3   VehSpeed4          13.1  Component1
4   VehSpeed5           9.4  Component2
5   VehSpeed6           8.4  Component2
6   VehSpeed7           3.9  Component2
7   VehSpeed8           7.1  Component2
8   VehSpeed9           7.5  Component2
9  VehSpeed10           4.3  Component2

In [10]:
selected_data.to_csv("./modify.csv")

In [49]:
print('!dir로 modify.csv 생겼는지 확인')

!dir로 modify.csv 생겼는지 확인

In [12]:
import pymysql
import datetime

In [13]:
print('start: ', str(datetime.datetime.now())[:19])

start:  2021-10-19 16:19:31

In [28]:
import pickle

MYSQL_USER_DATA_SAVED_FILE = 'res/mysql/userinfo'

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [29]:
db = pymysql.connect(
    # localhost와 같은 아이피 주소임
    host = '127.0.0.1',
    # MySQL의 포트번호
    port = 3306,
    # 아이디
    user = mysql_user_info['user_id'],
    # 비밀번호
    passwd = mysql_user_info['password'],
    # 사용하려는 스키마
    db = 'jpa_db'    
)


print(db)

<pymysql.connections.Connection object at 0x000001D9EC0CD040>

In [30]:
cursor = db.cursor()

sql = """
    select * from hybrid_order;
"""

cursor.execute(sql)
rows = cursor.fetchall()

print(rows)

((1, 35000, 'test'), (2, 35000, 'taeyeon'), (3, 35000, 'kakao'), (4, 35000, 'kakaomsg'), (5, 35000, 'kakao결제테스트'), (6, 35000, 'kakao결제테스트'), (7, 35000, 'email'), (8, 35000, 'email'), (9, 35000, 'email'), (10, 35000, 'email'), (11, 35000, 'email+kakao'), (12, 35000, 'email+kakao'), (13, 35000, 'email+kakao'), (14, 35000, '이제는'), (15, 35000, '이제는'))

In [31]:
# db정보를 csv로 넣어줌
def db2csv():
    with open('mysql2csv.csv', 'a') as f:
        f.writelines(text[:-1] + '\n')

In [32]:
for x in rows:
    text = ''
    for y in x:
        y = str(y)
        text = text + y + ', '
        # for 문이 끝나면 한 행이 만들어짐
        
    db2csv()
        
cursor.close()
db.close()

In [34]:
print('!dir로 mysql2csv.csv 생겼는지 확인')

!dir로 mysql2csv.csv 생겼는지 확인

In [ ]:
# 대규모 데이터일때는 pymysql보다 pandas를 사용하는 것이 빠름

In [44]:
db = pymysql.connect(
    # localhost와 같은 아이피 주소임
    host = '127.0.0.1',
    # MySQL의 포트번호
    port = 3306,
    # 아이디
    user = mysql_user_info['user_id'],
    # 비밀번호
    passwd = mysql_user_info['password'],
    # 사용하려는 스키마
    db = 'jpa_db',
    # 캐릭터 셋 설정
    charset = 'utf8'
)

In [45]:
sql = """
    select * from hybrid_order;
"""

df = pd.read_sql_query(sql, db)
# encoding='utf-8-sig' : 데이터 한글 깨짐 현상 해결
df.to_csv(r"pandas2csv.csv", index = False, encoding='utf-8-sig')

In [40]:
db.close()

In [48]:
print('!dir로 pandas2csv.csv 생겼는지 확인')

!dir로 pandas2csv.csv 생겼는지 확인

In [46]:
import csv

In [50]:
# 엑셀 데이터를 뽑아서 db에 넣고싶다
# 현재 사용할 api정보가 xml

db = pymysql.connect(
    # localhost와 같은 아이피 주소임
    host = '127.0.0.1',
    # MySQL의 포트번호
    port = 3306,
    # 아이디
    user = mysql_user_info['user_id'],
    # 비밀번호
    passwd = mysql_user_info['password'],
    # 사용하려는 스키마
    db = 'non_jpa_db',
    # 캐릭터 셋 설정
    charset = 'utf8'
)

cursor = db.cursor()

f = open('member.csv', 'r')
csv_reader = csv.reader(f)

print(csv_reader)

<_csv.reader object at 0x000001D9EC5C1A00>

In [52]:
for row in csv_reader:
    id = (row[0])
    pw = (row[1])
    
    print(id)
    print(pw)
    
    sql = """
        insert into vuemember (id, pw) values(%s, %s)
    """
    
    cursor.execute(sql, (id, pw))
    
db.commit()

f.close()
db.close()

test
1234
abc
1255
aaa
12344
ddd
12556
sss
1289
ddd
436
nana
6634
gaga
7645
dadad
235
mont
8567
real
2357