In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql

In [2]:
MYSQL_USER_DATA_SAVED_FILE = "res/mysql/userinfo"

In [3]:
# 최초 한 번만 구동시키면 된다.
# 본인 계정을 숨길 생각이라면 한 번 사용 이후에 id, password를 지우도록 한다.
import pickle

mysql_user_info = dict({
    'user_id': 'khweb',
    'password': 'khWeb@123'
})

f = open(MYSQL_USER_DATA_SAVED_FILE, 'wb')
pickle.dump(mysql_user_info, f)
f.close()

del mysql_user_info

In [4]:
import pickle

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

#print(mysql_user_info)

In [5]:
# DB 연결
db = pymysql.connect(
    # localhost와 같은 아이피 주소임
    host = '127.0.0.1',
    # MySQL의 포트 번호
    port = 3306,
    # 아뒤
    user = mysql_user_info['user_id'],
    # 비번
    passwd = mysql_user_info['password'],
    # 사용하려는 스키마
    db = 'pydb'
)

print(db)

<pymysql.connections.Connection object at 0x000001C5BAA9A070>

In [6]:
# 이제 DB에서 select 등을 수행했을때
# 나오는 결과를 순회할 수 있도록 지원하는 객체를 가져온다.
cursor = db.cursor()

print(cursor)

<pymysql.cursors.Cursor object at 0x000001C5BA9122E0>

In [7]:
# MySQL 수동 쿼리를 적용하여 table을 생성해보도록 한다.
sql = """
    create table pydbtest(
        id int unsigned not null auto_increment,
        name varchar(20) not null,
        price int not null,
        primary key(id)
    )
"""

# 실제 SQL Query를 실행하는 코드
cursor.execute(sql)

# 작업한 내용을 실제 DB에 적용함
db.commit()

# 작업 완료 이후 DB 연결을 끊는다.
db.close()

print("테이블 생성 성공!")

테이블 생성 성공!

In [8]:
# insert 처리
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    insert into pydbtest(name, price) values (%s, %s)
"""

# %s에 해당하는 데이터들을 배치한다.
cursor.execute(sql, ('Xeon Server', 10000000))
cursor.execute(sql, ('FPGA Server', 34000000))
cursor.execute(sql, ('GPU Server', 20000000))
cursor.execute(sql, ('RTX 3090', 4000000))

db.commit()

db.close()

print("테이블에 값 넣기 성공!")

테이블에 값 넣기 성공!

In [9]:
# select(값 가져오기)
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    select * from pydbtest;
"""

cursor.execute(sql)

# cursor를 통해 가져온 모든 데이터를 rows에 배치한다.
rows = cursor.fetchall()
print(rows)

db.close()

print("데이터 불러오기 성공!")

((1, 'Xeon Server', 10000000), (2, 'FPGA Server', 34000000), (3, 'GPU Server', 20000000), (4, 'RTX 3090', 4000000))
데이터 불러오기 성공!

In [10]:
# select(값 가져오기) 낱개로 가져오기
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    select * from pydbtest;
"""

cursor.execute(sql)

# cursor를 통해 가져온 모든 데이터를 rows에 배치한다.
rows = cursor.fetchall()

for row in rows:
    print(row)

db.close()

print("데이터 낱개로 불러오기 성공!")

(1, 'Xeon Server', 10000000)
(2, 'FPGA Server', 34000000)
(3, 'GPU Server', 20000000)
(4, 'RTX 3090', 4000000)
데이터 낱개로 불러오기 성공!

In [19]:
# 낱개 내에서 각각의 데이터를 얻기(딕셔너리 형식이라 키값으로 뽑으면 됨)
# select(값 가져오기) 낱개로 가져오기
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = """
    select * from pydbtest;
"""

cursor.execute(sql)

# cursor를 통해 가져온 모든 데이터를 rows에 배치한다.
rows = cursor.fetchall()

for row in rows:
    print('id: ', row['id'], ', name: ', row['name'], ', price: ', row['price'])

db.close()

print("데이터 낱개로 불러와 특정값 추출하기 성공!")

id:  1 , name:  Xeon Server , price:  10000000
id:  2 , name:  FPGA Server , price:  34000000
id:  3 , name:  GPU Server , price:  20000000
id:  4 , name:  RTX 3090 , price:  4000000
데이터 낱개로 불러와 특정값 추출하기 성공!

In [20]:
# 입력한 데이터값 정리하기(테이블 삭제)
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    drop table pydbtest;
"""

cursor.execute(sql)

db.commit()
db.close()

print("테이블 삭제 성공!")

테이블 삭제 성공!