In [1]:
val = 10

if val > 5:
    print('val is bigger than 5')

val is bigger than 5

In [2]:
# 파이썬은 {}을 사용하지 않으므로 탭으로 구분, 탭을 잘 사용해야 함
val = 1 
if val > 5:
    print('test')

print('val is bigger than 5')

val is bigger than 5

In [3]:
money = 10

if money > 100:
    item = 'apple'
else: 
    item = 'banana'
    
print(item)

banana

In [4]:
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else: 
    grade = 'F'
    
print('등급: ' + grade)

Input Score: 95
등급: A

In [5]:
# Quiz
# 수학, 영어, 국사 각각의 점수를 입력하여 평균이 60점 미만이고,
# 각 과목의 점수들이 50점 미만인 경우 탈락처리

math = int(input(('수학점수: ')))
english = int(input(('영어점수: ')))
history = int(input(('국사점수: ')))

mean = (math + english + history) / 3

if mean >=60 and math >= 50 and english >= 50 and history >= 50:
    print('통과')
else: 
    print('탈락')

수학점수: 40
영어점수: 95
국사점수: 75
탈락

In [6]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [7]:
# 리스트에는 여러 타입의 값을 넣을 수 있음
lists = ['apple', 100, 15.3]

for i in lists:
    print(i, type(i))

apple <class 'str'>
100 <class 'int'>
15.3 <class 'float'>

In [8]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# break 사용하기
for i in numList:
    if i > 5:
        break
    print('item: {0}'.format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [9]:
# continue 사용하기
for i in numList:
    if i % 2 == 0:
        continue
    print('item: {0}'.format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [11]:
# range: 숫자 생성 함수
# 0부터 10번째 까지
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# 5부터 시작하여 10번째 까지
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [13]:
# 10부터 0까지 1씩 감소
print(list(range(10, 0 ,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# 10부터 20까지 2씩 증가
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [15]:
numList = list(range(1, 11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
strList = ['apple', 'orange', 'grape', 'banana']

# len: 값의 길이 or 개수
for i in range(len(strList)):
    # {0}은 자바에서 %d와 같은 역할,
    # {0}은 format의 첫 번째, {1}은 format의 두 번째와 맵핑
    print('idx: {0}, val: {1}'.format(i, strList[i]))

idx: 0, val: apple
idx: 1, val: orange
idx: 2, val: grape
idx: 3, val: banana

In [17]:
# enumerate: 리스트의 인덱스와 값
varList = [100, 33.7, 'apple']

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'apple')

In [19]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

print(resLists, type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20] <class 'list'>