In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data_example.csv')

print(data)

  Signal Name Direction      Target  Signal Value
0   VehSpeed1        Tx  Component1          10.4
1   VehSpeed2        Tx  Component1          10.3
2   VehSpeed3        Rx  Component1          12.0
3   VehSpeed4        Tx  Component1          13.1
4   VehSpeed5        Tx  Component2           9.4
5   VehSpeed6        Tx  Component2           8.4
6   VehSpeed7        Rx  Component2           3.9
7   VehSpeed8        Tx  Component2           7.1
8   VehSpeed9        Tx  Component2           7.5
9  VehSpeed10        Tx  Component2           4.3

In [3]:
selected_data = pd.DataFrame(data, columns = ['Signal Name', 'Signal Value', 'Target'])

print(selected_data)

  Signal Name  Signal Value      Target
0   VehSpeed1          10.4  Component1
1   VehSpeed2          10.3  Component1
2   VehSpeed3          12.0  Component1
3   VehSpeed4          13.1  Component1
4   VehSpeed5           9.4  Component2
5   VehSpeed6           8.4  Component2
6   VehSpeed7           3.9  Component2
7   VehSpeed8           7.1  Component2
8   VehSpeed9           7.5  Component2
9  VehSpeed10           4.3  Component2

In [4]:
selected_data.to_csv('./modify.csv')

In [5]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BC22-E86F

 C:\Users\jaqkq\python_works\PythonWorkshop\Review1019 디렉터리

2021-10-19  오후 03:56    <DIR>          .
2021-10-19  오후 03:41    <DIR>          ..
2021-10-19  오후 03:41    <DIR>          .ipynb_checkpoints
2021-10-19  오후 03:44               337 Data_example.csv
2021-10-19  오후 03:56               319 modify.csv
2021-10-19  오후 03:55             2,632 Untitled.ipynb
               3개 파일               3,288 바이트
               3개 디렉터리  342,871,355,392 바이트 남음

In [8]:
import pymysql
import datetime

In [9]:
print('start:', str(datetime.datetime.now())[:19])

start: 2021-10-19 16:04:41

In [10]:
import pickle

MYSQL_USER_DATA_SAVED_FILE = 'res/mysql/userinfo'

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [14]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    password = mysql_user_info['user_pw'],
    db = 'jpa_db'
)

print(db)

<pymysql.connections.Connection object at 0x000001604A41CFA0>

In [16]:
cursor = db.cursor()

sql = """
    select * from hybrid_order;
"""

cursor.execute(sql)
rows = cursor.fetchall()

print(rows)

((1, '200000', 'test'), (2, '200000', 'testtest'), (3, '200000', 'test'), (4, '200000', 'test'), (5, '200000', 'test'), (6, '200000', 'test2'), (7, '200000', 'test2'), (8, '200000', '안녕'), (9, '200000', 'ㅎㅎㅎ'), (10, '200000', 'ㅎㅎㅎ'), (11, '200000', 'ㅎㅎㅎ'), (12, '200000', 'ㅎㅎㅎ'), (13, '200000', '테스트!!'), (14, '200000', '나야나'), (15, '200000', '나야나'))

In [17]:
def db2csv():
    with open('mysql2csv.csv', 'a') as f:
        f.writelines(text[:-1] + '\n')

In [18]:
for x in rows:
    text = ''
    for y in x:
        y = str(y)
        text = text + y + ', '
    
    db2csv()
    
cursor.close()
db.close()

In [19]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BC22-E86F

 C:\Users\jaqkq\python_works\PythonWorkshop\Review1019 디렉터리

2021-10-19  오후 04:34    <DIR>          .
2021-10-19  오후 03:41    <DIR>          ..
2021-10-19  오후 03:41    <DIR>          .ipynb_checkpoints
2021-10-19  오후 03:44               337 Data_example.csv
2021-10-19  오후 03:56               319 modify.csv
2021-10-19  오후 04:34               298 mysql2csv.csv
2021-10-19  오후 04:11    <DIR>          res
2021-10-19  오후 04:33             6,535 Untitled.ipynb
               4개 파일               7,489 바이트
               4개 디렉터리  342,822,195,200 바이트 남음

In [25]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    password = mysql_user_info['user_pw'],
    db = 'jpa_db',
    charset = 'utf8'
)

print(db)

<pymysql.connections.Connection object at 0x000001604A919850>

In [27]:
sql = """
    select * from hybrid_order;
"""

df = pd.read_sql_query(sql, db)
df.to_csv('panda2csv.csv', index = False, encoding='utf-8-sig')

In [28]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: BC22-E86F

 C:\Users\jaqkq\python_works\PythonWorkshop\Review1019 디렉터리

2021-10-19  오후 05:01    <DIR>          .
2021-10-19  오후 03:41    <DIR>          ..
2021-10-19  오후 03:41    <DIR>          .ipynb_checkpoints
2021-10-19  오후 03:44               337 Data_example.csv
2021-10-19  오후 03:56               319 modify.csv
2021-10-19  오후 04:34               298 mysql2csv.csv
2021-10-19  오후 05:01               293 panda2csv.csv
2021-10-19  오후 04:11    <DIR>          res
2021-10-19  오후 05:01             8,865 Untitled.ipynb
               5개 파일              10,112 바이트
               4개 디렉터리  342,843,387,904 바이트 남음

In [29]:
import csv

In [33]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    password = mysql_user_info['user_pw'],
    db = 'jpa_db',
    charset = 'utf8'
)

cursor = db.cursor()

f = open('member.csv', 'r')
csv_reader = csv.reader(f)

In [36]:
cnt = 0

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    id = (row[0])
    pw = (row[1])
    
    print(id)
    print(pw)
    
    sql = """
        insert into member(id, pw) values (%s, %s);
    """
    
    cursor.execute(sql, (id, pw))
    
db.commit()

f.close()
db.close()